div {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
a {
    color: black;
    font-size: 50px;
    text-decoration: none;
    border: 2px solid black;
    border-radius: 30px;
    padding: 10px 30px;
    position: relative;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    overflow: hidden;
}
a::before {
    content: '';
    background-color: goldenrod;
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    /* transform: translate(210px); */
    transform: rotate(90deg);
    transform-origin: top right;
    transition-duration: 1s;
    animation-timing-function:linear;
}

a:hover::before {
    border-radius: 30px;
    transform: translate(0px);
}